[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/mrhugo"]
	path = themes/mrhugo
	url = https://github.com/digitalcraftsman/hugo-freelancer-theme
