[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/mrhugo"]
	path = themes/mrhugo
	url = https://github.com/digitalcraftsman/hugo-freelancer-theme
[submodule "hugo-freelancer-theme"]
	path = themes/hugo-freelancer-theme
	url = git@github.com:RingoDev/hugo-freelancer-theme.git
[submodule "themes/freelancer"]
	path = themes/freelancer
	url = https://github.com/RingoDev/hugo-freelancer-theme
