{{ "<!-- Navigation-->" | safeHTML }}
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <picture>
                <source srcset="img/logo.webp 1x, img/logo_80px.webp 2x, img/logo_120px.webp 3x" type="image/webp">
                <source srcset="img/logo.png 1x, img/logo_80px.webp 2x, img/logo_120px.webp 3x" type="image/png">
                <img src="img/logo.png" alt="RingoDev logo" style="width:40px; height:40px; margin-top: -4px">
            </picture>
        {{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}
        </a>
	<button onclick="subscribeUser()" class="btn btn-secondary">
		<i class="far fa-bell fa-lg"></i>
	</button>
        <button class="ml-auto navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">{{ with .Site.Params.portfolio.title }}{{ . }}{{ end }}</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}
                </a></li>
            </ul>
        </div>
    </div>
</nav>
